<div class="container">
  <%= link_to '<button type="button">Dashboard</button>'.html_safe, dashboard_index_path %>


  <img class="item" src="http://image.flaticon.com/icons/png/512/33/33882.png">

  <!-- <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/44228-200.png"> -->
  <!-- <img src="https://www.iconexperience.com/_img/i_collection_png/512x512/plain/marionette.png"> -->

  <h1 class="home item">Welcome to M.I.P.T.</h1>
<div>