<div class="container">
  <div class="enter">
  <%= link_to 'ENTER', dashboard_index_path %>
  </div>
  <img class="item" src="http://image.flaticon.com/icons/png/512/33/33882.png">
  <!-- <img src="https://www.iconexperience.com/_img/i_collection_png/512x512/plain/marionette.png"> -->

  <h1 class="home item">Welcome to M.I.P.T.</h1>
<div>