<div class="container">
  <div>
  <%= link_to 'ENTER', dashboard_index_path, id: "enter" %>
  </div>
  <img class="item" src="assets/black-puppet.png">
  <!-- <img src="https://www.iconexperience.com/_img/i_collection_png/512x512/plain/marionette.png"> -->

  <h1 class="home item">Welcome to M.I.P.T.</h1>
<div>
