<div class="container">

  <h2 class='title'>Students of MIPT</h2>

  <ul>
  <% @students.each do |student| %>
    <li class="student_spacing"><%= link_to "#{student.last_name}, #{ student.first_name }", student_path(student), {class:"student_name"} %><br>
    <% if student.teacher %>
      <em class="curr_teacher">Current teacher: <%= link_to "#{student.teacher.full_name}", teacher_path(student.teacher), {class:"teacher_name"} %></em>
    <% end %>
    </li><br>
  <% end %>
  </ul>

</div>
