<h2 class='title'>Students of MIPT</h2>

<ul>a
<% @students.each do |student| %>
  <li><%= link_to "#{student.last_name}, #{ student.first_name }", student_path(student) %><br>
  <% if student.teacher %>
    <em>Current teacher: <%= link_to "#{student.teacher.full_name}", teacher_path(student.teacher) %></em>
  <% end %>
  </li><br>
<% end %>
</ul>
