<div class="dashboard">
  <h2>About</h2>
  <h3>Founded</h3>
    <h5>Originally founded in 1815 as Walker's Kids. In 2012 changed names to Massachusetts Institute of Puppetry</h5>
  <h3>Dean</h3>
    <h5>Kenneth Buffemire Rettenberg III</h5>
  <h3>Percentage Admitted</h3>
    <h5>4.2% (2016)</h5>
  <h3>Graduation Rate</h3>
    <h5>59.1%</h5>
  <h3>Tuition</h3>
    <h5>$41,310</h5>
</div>
