<div class="container">

  <h2 class="title">MIPT Courses</h2>


  <% @courses.each do |course| %>
    <%= link_to "#{course.title}", course_path(course), class:"course-name" %><br>
    <% if course.description %>
  	<ul>
    	<li class="course-description"><em>Description: <%= course.description %></em></li>
  	</ul>
  <% end %>
  <% end %>

</div>
