<div class="container">

  <h2 class="title">MIPT Courses</h2>

  <% @courses.each do |course| %>
    <%= link_to "#{course.title}", course_path(course) %><br>
    <% if course.description %>
  	<ul>
      	<li><em>Description: <%= course.description %></em></li>
  	</ul>
    <% end %>
    <br>
  <% end %>

</div>
