// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
  color: #FFFFFF;
}
.course {
  font-size: 150%;
  color: #FFFFFF;
}

h3.student_list {
  font-size: 250%;
  Color: #bdc3c7;
}

.course-description {
  font-size: 150%;
  color: #FFFFFF;
}
.course-name {
  font-size: 150%;
}
