// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.dashboard h3 {
  font-size: 250%;
}
.dashboard h5 {
  font-size: 200%;
  text-align: center;
}

a.nav-link {
  color: #FFFFFF;
}
