// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  font-family: 'Baloo Paaji';
  color: #000000;
  font-size: 300%;
}
.item {
  vertical-align: center;
  width: 30%;
}
#enter {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  border: 2px solid #B6316C;
  border-radius: 100px;
  width: 200px;
  height: 100px;
  justify-content: center;
  font-size: 40px;
  font-family: 'Baloo Paaji';
  color: #B6316C;
  text-decoration: none;
  margin-bottom: 30px;
}
