// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  justify-content: center;
  align-items: center;
}
body {
  background-color: #843D8F;
}
home {
  vertical-align: center;
  font-family: 'Baloo Paaji', cursive;
}
item {
  vertical-align: center;
  align-self: center;
}