// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: url(purple_red_curtains.jpg);
  // background-size: cover 100% 100%;
  background-position: center;
  font-family: 'Baloo Paaji';
  background-attachment: fixed;
}

h2, h1 {
  color: #FFFFFF;
  font-size: 60px;
}
