// Place all the styles related to the Student controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



li.student_spacing {
  margin-bottom: 1%;
}
a.student_name {
  font-size: 200%;
  color: #FFFFFF;
}
em.curr_teacher {
  color: #1E0130;
  font-size: 150%;
}
.teacher_name{
  color: #FFFFFF;
}
