// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.title {
  color: #FFFFFF;
}

a.link {
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  background: #000000;
  border-radius: 25px;
  text-decoration: none;
  padding: 20px;
  margin: 5px 0 0 5px;
}

a.teacher {
  color: #ecf0f1;
  font-size: 180%;
}

li.teacher_spacing {
  margin-bottom: 2%;
}
